.portfolio-header {
    position: relative;
    background-image: url(images/header-bg.jpg);
}

html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

.page-content {}

.mdl-page-title {
    text-transform: capitalize;
}

.avatar {
    width: 125px;
    height: 125px;
    position: relative;
    overflow: hidden;
    align-self: center;
    border-radius: 50%;
    border: 2px solid;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 16px;
}

.portfolio-header .mdl-layout__header-row {
    padding: 0;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mdl-layout__title {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}

.mdl-card__supporting-text {
    color: rgba(0, 0, 0, .60);
    font-weight: 500;
}

.is-compact .mdl-layout__title span {
    display: none;
}

.portfolio-logo-row {
    min-height: 200px;
}

.is-compact .portfolio-logo-row {
    min-height: auto;
}

.portfolio-logo {
    background: url(images/arun.png) 50% no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
    margin: auto auto 10px;
    overflow: hidden;
    align-self: center;
    border-radius: 50%;
    border: 2px solid;
}

.is-compact .portfolio-logo {
    height: 50px;
    width: 50px;
    margin-top: 7px;
}


.portfolio-navigation-row {
    background-color: rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
    height: 45px;
}

.portfolio-navigation-row .mdl-navigation {
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 42px;
}

.portfolio-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.portfolio-navigation-row .is-active {
    position: relative;
    font-weight: bold;
}

.portfolio-navigation-row .is-active:after {
    content: "";
    width: 70%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 64, 129);
    left: 15%;
}

.portfolio-card .mdl-card__title {
    padding-bottom: 0;
}

.portfolio-blog-card-full-bg {
    background: url(images/example-blog03.jpg) center / cover;
}

.portfolio-blog-card-event-bg {
    background: url(images/example-blog05.jpg) center / cover;
}

.portfolio-blog-card-strip-bg {
    background: url(images/example-blog06.jpg) center / cover;
}

.portfolio-blog-card-compact .mdl-card__title {
    padding-bottom: 0;
}

.portfolio-blog-card-bg>.mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

img.article-image {
    width: 100%;
    object-fit: cover;
    height: 175px;
}

.portfolio-content {
    max-width: 1000px;
    margin: auto;
}

.portfolio-content .portfolio-header {
    margin: 16px 0 0 16px;
}

.portfolio-content .portfolio-header .mdi {
    margin-right: 8px;
}


.portfolio-copy {
    max-width: 700px;
}

.no-padding {
    padding: 0;
}

.no-left-padding {
    padding-left: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.padding-top {
    padding: 10px 0 0;
}

.portfolio-share-btn {
    position: relative;
    float: right;
    top: -4px;
}

.demo-card-event>.mdl-card__actions {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.portfolio-contact .mdl-textfield {
    width: 100%;
}

.portfolio-contact form {
    max-width: 550px;
    margin: auto;
}


.post {
    width: 100%;
    padding: 80px 56px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.post-meta {
    font-family: 'Roboto Mono', monospace;
}

.post-categories {
    display: inline-block;
    margin-bottom: 16px;
}

.post-card {
    display: flex;
    flex-direction: column;
}

.post-card .mdl-card__actions {
    margin-top: auto;
}

.post-card .mdl-card__title-text {
    font-weight: 400
}


.post-card .post-meta {
    padding: 16px 16px 0px 16px;
    font-size: 14px
}

.app-card {
    display: flex;
}

.app-card .mdl-card__title-text {
    font-weight: 400;
}

.app-card .app-links {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.app-card .app-links .mdi {
    font-size: 24px;
    display: block;
}

.app-card .app-links a {
    margin: 0 8px 0 8px;
}


.library-card .mdl-card__title-text {
    font-weight: 400;
}

.library-card .library-links {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.library-card .library-links .mdi {
    font-size: 24px;
    display: block;
}

.library-card .library-links a {
    margin: 0 8px 0 8px;
}

.mdi.android {
    color: #a4c639;
}

.mdi.adb {
    color: #ffdb58;
}

.mdi.github:hover {
    color: #000 !important;
}

.mdi.playstore:hover {
    color: #34a853 !important;
}

.mdi.youtube:hover {
    color: #ff0000 !important;
}

.mdi.publication {
    color: #F44336;
}

.mdi.open-link:hover {
    color: #F44336;
}

footer {
    background-image: url(images/footer-background.png);
    background-size: cover;
}

.mdl-layout__header-row {
    background-color: #00BCD4;
    color: #37474F;
}

.mdl-mini-footer {
    padding: 8px;
}

.demo-drawer {
    border: none;
}

/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
    z-index: -1;
}

.demo-drawer .demo-navigation {
    z-index: -2;
}

/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
    display: flex;
    align-items: center;
}

.demo-drawer-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 24px 32px 24px;
}

.demo-drawer-header .avatar-name {
    text-align: center;
    font-family: inherit;
    margin-bottom: 20px;
}

.demo-drawer-header .avatar-about-text {
    text-align: center;
    font-family: inherit;
}


.demo-navigation {
    flex-grow: 1;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
    background-color: #00BCD4
}

.demo-layout .demo-navigation .mdl-navigation__link {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.56);
    font-weight: 500;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}

.demo-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.56);
    margin-right: 32px;
}

.open-source-work .mdi {
    font-size: 24px;
}

.open-source-work .open-source-work-card {
    min-height: auto;
}

.publication-card .mdl-card {
    min-height: auto;
}

.publication-card .mdl-card__menu {
    position: absolute;
    right: 16px;
    top: 16px;
}

.publication-card .mdl-card__title-text {
    font-weight: 400;
    margin-right: 50px;
    font-size: 22px;
}

.publication-card .mdl-card__menu .mdi {
    font-size: 24px;
    display: block;
}