.portfolio-header {
    position: relative;
}

html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

img[src*='#center'] {
    display: block;
    margin: auto;
}

.mdl-page-title {
    text-transform: capitalize;
}

.avatar {
    width: 125px;
    height: 125px;
    position: relative;
    overflow: hidden;
    align-self: center;
    border-radius: 50%;
    border: 2px solid;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 16px;
}

.portfolio-header .mdl-layout__header-row {
    padding: 0;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.mdl-layout__title {
    font-size: 14px;
    text-align: center;
    font-weight: 300;
}

.mdl-card__supporting-text {
    color: rgba(0, 0, 0, .60);
    font-weight: 500;
}

.is-compact .mdl-layout__title span {
    display: none;
}

.portfolio-logo-row {
    min-height: 200px;
}

.is-compact .portfolio-logo-row {
    min-height: auto;
}

.is-compact .portfolio-logo {
    height: 50px;
    width: 50px;
    margin-top: 7px;
}

.portfolio-navigation-row {
    background-color: rgba(0, 0, 0, 0.08);
    text-transform: uppercase;
    height: 45px;
}

.portfolio-navigation-row .mdl-navigation {
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.portfolio-navigation-row .mdl-navigation__link {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 42px;
}

.portfolio-header .mdl-layout__drawer-button {
    background-color: rgba(197, 197, 197, 0.44);
}

.portfolio-navigation-row .is-active {
    position: relative;
    font-weight: bold;
}

.portfolio-navigation-row .is-active:after {
    content: "";
    width: 70%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 64, 129);
    left: 15%;
}

.portfolio-card .mdl-card__title {
    padding-bottom: 0;
}

.portfolio-blog-card-compact .mdl-card__title {
    padding-bottom: 0;
}

.portfolio-blog-card-bg>.mdl-card__actions {
    height: 52px;
    padding: 16px;
    background: rgba(0, 0, 0, 0.2);
}

img.article-image {
    width: 100%;
    object-fit: cover;
    height: 175px;
}

.portfolio-content {
    max-width: 1000px;
    margin: auto;
}

.portfolio-content .portfolio-header {
    margin: 16px 0 0 16px;
}

.portfolio-content .portfolio-header .mdi {
    margin-right: 8px;
}


.portfolio-copy {
    max-width: 700px;
}

.no-padding {
    padding: 0;
}

.no-left-padding {
    padding-left: 0;
}

.no-bottom-padding {
    padding-bottom: 0;
}

.padding-top {
    padding: 10px 0 0;
}

.portfolio-share-btn {
    position: relative;
    float: right;
    top: -4px;
}

.demo-card-event>.mdl-card__actions {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    box-sizing: border-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.portfolio-contact .mdl-textfield {
    width: 100%;
}

.portfolio-contact form {
    max-width: 550px;
    margin: auto;
}

.post-meta {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    font-weight: 500;
}

.post-card {
    display: flex;
    flex-direction: column;
}

.post-card .mdl-card__actions {
    margin-top: auto;
}

.post-card .mdl-card__title-text {
    font-weight: 400
}

.post-card .post-meta {
    padding: 16px 16px 0px 16px;
}

.app-card {
    display: flex;
}

.app-card .mdl-card__title-text {
    font-weight: 400;
}

.app-card .app-links {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.app-card .app-links .mdi {
    font-size: 24px;
    display: block;
}

.app-card .app-links a {
    margin: 0 8px 0 8px;
}

.app-card .mdl-card__supporting-text p {
    color: rgba(0, 0, 0, .60);
    font-weight: 500;
}

.app-card .mdl-card__supporting-text a {
    font-weight: 400;
}

.library-card .mdl-card__title-text {
    font-weight: 400;
}

.library-card .library-links {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.library-card .library-links .mdi {
    font-size: 24px;
    display: block;
}

.library-card .library-links a {
    margin: 0 8px 0 8px;
}

.mdi.android {
    color: #a4c639;
}

.mdi.adb {
    color: #ffdb58;
}

.mdi.github:hover {
    color: #000 !important;
}

.mdi.playstore:hover {
    color: #34a853 !important;
}

.mdi.youtube:hover {
    color: #ff0000 !important;
}

.mdi.publication {
    color: #F44336;
}

.mdi.open-link:hover {
    color: #F44336;
}

.mdl-layout__header-row {
    background-color: #00BCD4;
    color: #37474F;
}

.mdl-mini-footer {
    padding: 8px;
}

.demo-drawer {
    border: none;
}

/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
    z-index: -1;
}

.demo-drawer .demo-navigation {
    z-index: -2;
}

/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
    display: flex;
    align-items: center;
}

.demo-drawer-header {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 24px 32px 24px;
}

.demo-drawer-header .avatar-name {
    text-align: center;
    font-family: inherit;
    margin-bottom: 20px;
}

.demo-drawer-header .avatar-about-text {
    text-align: center;
    font-family: inherit;
}


.demo-navigation {
    flex-grow: 1;
}

.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
    color: rgba(0, 0, 0, 0.54);
    background-color: #00BCD4
}

.demo-layout .demo-navigation .mdl-navigation__link {
    display: flex !important;
    flex-direction: row;
    align-items: center;
    color: rgba(255, 255, 255, 0.85);
    font-weight: 500;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F;
}


.demo-navigation .mdl-navigation__link .material-icons {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.85);
    margin-right: 32px;
}

.demo-layout .demo-navigation .mdl-navigation__link:hover .material-icons {
    color: #37474F;
}

.open-source-work .mdi {
    font-size: 24px;
}

.open-source-work .open-source-work-card {
    min-height: auto;
}

.publication-card .mdl-card {
    min-height: auto;
}

.publication-card .mdl-card__menu {
    position: absolute;
    right: 16px;
    top: 16px;
}

.publication-card .mdl-card__title-text {
    font-weight: 400;
    margin-right: 50px;
    font-size: 22px;
}

.publication-card .mdl-card__menu .mdi {
    font-size: 24px;
    display: block;
}

.blog-content {
    max-width: 1000px;
    margin: auto;
}

.post-container {
    max-width: 1600px;
    width: calc(100% - 16px);
    margin: 0 auto;
}

.post-container .post-content {
    border-radius: 2px;
}

.post-container .post-content .post-article {
    padding: 0px 56px 28px 56px;
}

.demo-layout.is-small-screen .post-container .post-content .post-article {
    padding: 0px 28px 40px 28px;
}

.post-container .post-content .post-header>:not(:first-child) {
    margin-left: 56px;
    margin-right: 56px;
}

.demo-layout.is-small-screen .post-container .post-content .post-header>:not(:first-child) {
    margin-left: 28px;
    margin-right: 28px;
}

.post-container .post-categories {
    margin-top: 48px;
}

.post-container h2 {
    margin-top: 48px;
}

.post-container .post-header-image {
    width: 100%;
}

.post-container .caption {
    text-align: center;
    margin-top: 8px;
    margin-bottom: 16px;
}

.post-container img.fill {
    width: 100%;
}

.post-article p,
.post-article ul,
.post-article ol {
    font-size: 16px;
}

.post-article blockquote {
    border-left: 5px solid #e4e4e4;
    padding-left: 8px;
}

.post-article blockquote p {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.35;
    letter-spacing: .08em;
}

.post-article blockquote:before {
    position: absolute;
    left: -0em;
    content: '';
}

.post-article blockquote:after {
    position: absolute;
    left: -0em;
    content: '';
}

.demo-layout.is-small-screen .post-article .google-play-img {
    width: 70%;
}

.post-article .google-play-img {
    width: 40%;
}

.disqus-comments {
    padding-left: 56px;
    padding-right: 56px;
    padding-bottom: 56px;
}

.demo-layout.is-small-screen .disqus-comments {
    padding-left: 28px;
    padding-right: 28px;
    padding-bottom: 28px;
}