---
layout: default
---

{%- if site.posts.size > 0 -%}
<div class="mdl-grid blog-content">
  {%- for post in site.posts -%}
  <div class="post-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">
    <div class="mdl-card__media">
      <img class="article-image" src="{{ post.image }}" border="0" alt="" />
    </div>
    {%- assign date_format = "%b %-d, %Y" -%}
    <div class="post-meta mdl-color-text--grey-600">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ post.date | date: date_format }}
      </time>
      {% include reading_time.html content=post.content %}
    </div>
    <div class="mdl-card__title post-card-title">
      <h3 class="mdl-card__title-text">
        {{ post.title | escape }}
      </h3>
    </div>
    <span class="mdl-card__supporting-text post-card-content">
      {{ post.description }}
    </span>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--accent" href="{{post.url | relative_url}}">
        Read More
      </a>
    </div>
  </div>
  {%- endfor -%}
</div>
{%- endif -%}