<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
    <div class="root-layout mdl-layout mdl-js-layout {% if page.is_post == false %} mdl-layout--fixed-drawer {% endif %} mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title mdl-page-title">{{page.navigation_name}}</span>
                <div class="mdl-layout-spacer"></div>
                <div class="rss-feed-container">
                    <a class="rss-item" href="{{site.url}}/feed.xml">
                        <span class="mdi mdi-rss rss material-icons "></span>
                    </a>
                </div>
            </div>
        </header>
        <div class="portfolio-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
            <header class="portfolio-drawer-header">
                <img src="/assets/images/arun.png" class="avatar">
                <div class="avatar-name mdl-typography--headline">Arunkumar Sampathkumar</div>
                <div class="avatar-about-text mdl-typography--body-1-color-contrast">I am a passionate Software
                    Engineer currently focusing my efforts on the
                    Android platform. This is my personal blog and portfolio.
                    </br>
                    <br>Views expressed here are mine.</br></div>
                <div class="avatar-links">
                    <a href="https://twitter.com/arunkumar_9t2">
                        <span class="mdi mdi-twitter twitter mdl-color-text--grey-300"></span>
                    </a>
                    <a href="https://github.com/arunkumar9t2">
                        <span class="mdi mdi-github-circle github mdl-color-text--grey-300"></span>
                    </a>
                    <a href="https://www.linkedin.com/in/arunkumar9t2/">
                        <span class="mdi mdi-linkedin-box linkedin mdl-color-text--grey-300"></span>
                    </a>
                    <a href="https://play.google.com/store/apps/dev?id=9082544673727889961">
                        <span class="mdi mdi-google-play playstore mdl-color-text--grey-300"></span>
                    </a>
                </div>
            </header>
            <nav class="portfolio-navigation mdl-navigation mdl-color--blue-grey-800">
                <a class="mdl-navigation__link {% if page.navigation_name == 'portfolio' %}is-active{% endif %}" href="{{site.url}}">
                    <span class="mdi mdi-bulletin-board material-icons"></span>Portfolio
                </a>
                <a class="mdl-navigation__link {% if page.navigation_name == 'blog' %}is-active{% endif %}" href="/blog/">
                    <span class="mdi mdi-book-open-variant material-icons"></span>Blog
                </a>
                <a class="mdl-navigation__link {% if page.navigation_name == 'about' %}is-active{% endif %}" href="/about/">
                    <span class="mdi mdi-account-details material-icons"></span>About
                </a>
                <div class="mdl-layout-spacer"></div>
            </nav>
        </div>
        <main class="mdl-layout__content mdl-color--grey-100 " aria-label="Content">
            {{ content }}
        </main>
    </div>
</body>

</html>