<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
        <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
            <div class="mdl-layout__header-row portfolio-logo-row">
                <span class="mdl-layout__title">
                    <div class="portfolio-logo mdl-shadow--4dp"></div>
                    <span class="mdl-layout__title">Simple portfolio website</span>
                </span>
            </div>
            <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link {% if page.navigation_name == 'portfolio' %}is-active{% endif %}" href="{{site.url}}">Portfolio</a>
                    <a class="mdl-navigation__link {% if page.navigation_name == 'blog' %}is-active{% endif %}" href="/blog/">Blog</a>
                    <a class="mdl-navigation__link {% if page.navigation_name == 'about' %}is-active{% endif %}" href="/about/">About</a>
                    <a class="mdl-navigation__link {% if page.navigation_name == 'contact' %}is-active{% endif %}" href="contact.html">Contact</a>
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link is-active" href="{{site.url}}">Portfolio</a>
                <a class="mdl-navigation__link" href="/blog/">Blog</a>
                <a class="mdl-navigation__link" href="about.html">About</a>
                <a class="mdl-navigation__link" href="contact.html">Contact</a>
            </nav>
        </div>
        <main class="mdl-layout__content">
            <div class="page-content">
                {{ content }}
            </div>
        </main>
    </div>
</body>

</html>