---
layout: default
---

<div class="portfolio-content">
  {{ content }}
  <h4 class="portfolio-header mdl-color-text--grey-900">
    <span class="mdi mdi-android android"></span> Android Side Projects
  </h4>
  <div class="mdl-grid">
    {%- for app in site.android_apps -%}
    <div class="app-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">
      <div class="mdl-card__media">
        <img class="article-image" src="{{ app.hero_image | prepend: site.baseurl}}" border="0" alt="" />
      </div>
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">
          {{ app.name | escape }}
        </h4>
      </div>
      <span class="mdl-card__supporting-text post-card-content">
        {{ app.description }}
      </span>
      <div class="app-links mdl-card__actions mdl-card--border">
        {% if app.playstore %}
        <a href="{{app.playstore}}">
          <span class="mdi mdi-google-play mdl-color-text--grey-600 playstore"></span>
        </a>
        {% endif %}

        {% if app.github %}
        <a href="{{app.github}}">
          <span class="mdi mdi-github-circle mdl-color-text--grey-600 github"></span>
        </a>
        {% endif %}

        {% if app.youtube %}
        <a href="{{app.youtube}}">
          <span class="mdi mdi-youtube mdl-color-text--grey-600 youtube"></span>
        </a>
        {% endif %}
      </div>
    </div>
    {%- endfor -%}
  </div>
  <h4 class="portfolio-header mdl-color-text--grey-900">
    <span class="mdi mdi-library adb"></span> Open Soure Work
  </h4>
  <div class="mdl-grid open-source-work">
    <div class="mdl-card open-source-work-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
      <ul class="open-source-work-list mdl-list">
        {%- for library in site.open_source_work -%}
        <li class="mdl-list__item">
          <span class="mdi mdi-circle-small mdl-color-text--grey-600"></span>
          <span class="mdl-list__item-primary-content">
            <b class="library-title">{{ library.name | escape }}</b> - {{ library.description }}
          </span>
          <a href="{{library.github}}">
            <span class="mdi mdi-github-circle mdl-color-text--grey-600 github"></span>
          </a>
        </li>
        {%- endfor -%}
      </ul>
    </div>
  </div>
</div>