---
layout: default
---

<div class="portfolio-content">
  {{ content }}
  <h4 class="portfolio-header mdl-color-text--grey-900" id="androidapps">
    <span class="mdi mdi-android android"></span> Android Side Projects
  </h4>
  <div class="mdl-grid">
    {% assign apps = site.android_apps | sort: 'ordering' %}
    {%- for app in apps -%}
    <div class="app-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">
      <div class="mdl-card__media">
        <img class="article-image" src="{{ app.hero_image | prepend: site.baseurl}}" border="0" alt="" />
      </div>
      <div class="mdl-card__title">
        <h5 class="mdl-card__title-text">
          {{ app.name | escape }}
        </h5>
      </div>
      <span class="mdl-card__supporting-text">
        {{ app.description | markdownify }}
      </span>
      <div class="app-links mdl-card__actions mdl-card--border">
        {% if app.playstore %}
        <a href="{{app.playstore}}">
          <span class="mdi mdi-google-play mdl-color-text--grey-600 playstore"></span>
        </a>
        {% endif %}

        {% if app.github %}
        <a href="{{app.github}}">
          <span class="mdi mdi-github-circle mdl-color-text--grey-600 github"></span>
        </a>
        {% endif %}

        {% if app.youtube %}
        <a href="{{app.youtube}}">
          <span class="mdi mdi-youtube mdl-color-text--grey-600 youtube"></span>
        </a>
        {% endif %}
      </div>
    </div>
    {%- endfor -%}
  </div>
  <h4 class="portfolio-header mdl-color-text--grey-900" id="androidlibraries">
    <span class="mdi mdi-library adb"></span> Android Libraries
  </h4>
  <div class="mdl-grid open-source-work">
    {% assign libraries = site.open_source_work | sort: 'ordering' %}
    {%- for library in libraries -%}
    <div class="library-card mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-desktop mdl-cell--4-col-tablet mdl-cell--12-col-phone">
      <div class="mdl-card__title">
        <h5 class="mdl-card__title-text">
          {{ library.name | escape }}
        </h5>
      </div>
      <span class="mdl-card__supporting-text">
        {{ library.description }}
      </span>
      <div class="library-links mdl-card__actions mdl-card--border">
        {% if library.github %}
        <a href="{{library.github}}">
          <span class="mdi mdi-github-circle mdl-color-text--grey-600 github"></span>
        </a>
        {% endif %}
      </div>
    </div>
    {%- endfor -%}
  </div>
  <h4 class="portfolio-header mdl-color-text--grey-900" id="publications">
    <span class="mdi mdi-book-open-page-variant publication"></span> Academic
  </h4>
  <div class="mdl-grid publication-card">
    <div class="mdl-card mdl-cell mdl-cell--12-col mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h5 class="mdl-card__title-text">
          FPGA implementation of CCSDS BCH (63, 56) for Satellite Communication
        </h5>
      </div>
      <div class="mdl-card__supporting-text">
        Published in <a href="https://ieeexplore.ieee.org/xpl/mostRecentIssue.jsp?punumber=6504611">2012 IEEE International Conference on Electronics Design, Systems and Applications (ICEDSA)</a>
      </div>
      <div class="mdl-card__menu">
        <a href="https://ieeexplore.ieee.org/document/6507808" class="mdl-js-ripple-effect">
          <span class="mdi mdi-open-in-new mdl-color-text--grey-600 open-link"></span>
        </a>
      </div>
    </div>
  </div>
</div>