---
layout: default
---
<div class="post-container mdl-grid">
    <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
    <div class="post-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
        <article class="" itemscope itemtype="http://schema.org/BlogPosting">
            <header class="post-header">
                <div>
                    <img class="post-header-image" src="{{ page.image }}" border="0" />
                </div>

                <!-- <div class="mdl-color-text--grey-500 post-categories">
                    {% if post %}
                    {% assign categories = post.categories %}
                    {% else %}
                    {% assign categories = page.categories %}
                    {% endif %}

                    {% if categories.size > 0 %}
                    Tagged in &nbsp;
                    {% endif %}
                    {% for category in categories %}
                    <a href="{{site.baseurl}}/categories/#{{category|slugize}}" class="mdl-color-text--grey-500">{{category}}</a>
                    {% unless forloop.last %}&nbsp;{% endunless %}
                    {% endfor %}
                </div> -->

                <h2 class="">{{ page.title | escape }}</h2>
                <p class="post-meta mdl-color-text--grey-600">
                    <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                        {{ page.date | date: date_format }}
                    </time>
                </p>
            </header>

            <div class="post-article" itemprop="articleBody">
                {{ content }}
            </div>
            {% include disqus_comments.html %}
            <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
        </article>
    </div>
</div>